<a href="https://colab.research.google.com/github/Nickguild1993/Py_EDA_walks/blob/main/Cars_mergingEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cars dataset merging exercise

In [1]:
# import libraries
import pandas as pd
import numpy as np
import random

In [6]:
# import the datasets
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv", engine="python")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

clean cars1

In [8]:
print(cars1.shape)
print("---------------")
print(cars1.isnull().sum())
print("-----------------")
print(cars1.columns)
print("-----------------")

(198, 14)
---------------
mpg               0
cylinders         0
displacement      0
horsepower        0
weight            0
acceleration      0
model             0
origin            0
car               0
Unnamed: 9      198
Unnamed: 10     198
Unnamed: 11     198
Unnamed: 12     198
Unnamed: 13     198
dtype: int64
-----------------
Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')
-----------------

have 5 extra empty columns, remove them

In [10]:
# instead of removing I'm just going to reorganize the dataframe
cars1 = cars1[["mpg", "cylinders","displacement","horsepower", "weight", "acceleration", "model", "origin", "car"]]
cars1.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite

Check out cars2 dataset to see if it needs to be cleaned

In [13]:
print(cars2.isnull().sum())

print(cars2.shape)

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model           0
origin          0
car             0
dtype: int64
(200, 9)

join em

In [14]:
cars = pd.concat([cars1, cars2])
cars.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite

In [16]:
# check it
print(cars.shape)
print(cars.value_counts().sum())

(398, 9)
398

Missing a column - owners. create rng series from 15k - 73k

In [20]:
owners= random.sample(range(15000, 73000),398)
len(owners)

398

In [22]:
cars.insert(8, "owners", owners)

insert it and check for nulls

In [23]:
cars.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,owners,car
0,18.0,8,307,130,3504,12.0,70,1,26661,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,67958,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,46039,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,28356,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,55341,ford torino

In [24]:
cars.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model           0
origin          0
owners          0
car             0
dtype: int64

In [28]:
cars["car"].nunique

<bound method IndexOpsMixin.nunique of 0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
195              ford mustang gl
196                    vw pickup
197                dodge rampage
198                  ford ranger
199                   chevy s-10
Name: car, Length: 398, dtype: object>