<a href="https://colab.research.google.com/github/Nickguild1993/Py_EDA_walks/blob/main/EDA_Chipolte_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Working with the Chipolte dataset

In [36]:
# import libraries

import pandas as pd
import numpy as np
import random
import seaborn as sns

In [37]:
# raw github url
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url,sep = "\t")
df.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [38]:
# getting observations
print(df.shape)
print("----------------------------")
# column names
print(df.columns)
print("----------------------------")
# index type
print(df.index)
print("------------------------------")
# get dtypes
print(df.dtypes)

(4622, 5)
----------------------------
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
----------------------------
RangeIndex(start=0, stop=4622, step=1)
------------------------------
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [39]:
print(df["item_name"].value_counts().head(10), sep=",")

Chicken Bowl                    726
Chicken Burrito                 553
Chips and Guacamole             479
Steak Burrito                   368
Canned Soft Drink               301
Steak Bowl                      211
Chips                           211
Bottled Water                   162
Chicken Soft Tacos              115
Chips and Fresh Tomato Salsa    110
Name: item_name, dtype: int64

In [40]:
# checking order frequency in choice_description column
print(df["choice_description"].value_counts().head(10))

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                  36
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                         33
[Lemonade]                                                                            33
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                             29
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]                                     28
Name: choice_description, dtype: int64

In [50]:
# checking total number of items sold
print(df["quantity"].value_counts().sum())

print(df["quantity"].max())

print(df["quantity"].describe())

print("------------------------------------")

print("The total number of items ordered is:", df["quantity"].sum())

4622
15
count    4622.000000
mean        1.075725
std         0.410186
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        15.000000
Name: quantity, dtype: float64
------------------------------------
The total number of items oldered is: 4972

In [106]:
# MOST ORDERED ITEM

item_quants = df.groupby(["item_name"]).agg({"quantity" : "sum"})
item_quants.sort_values(by="quantity", ascending = False)[:5]

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

In [105]:
# MOST ORDERED ITEM IN THE CHOICE DESCRIPTION COLUMN

choices = df.groupby(["choice_description"]).agg({"quantity":"sum"})
print(choices.sort_values(by = "quantity", ascending= False)[:5])

                                                    quantity
choice_description
[Diet Coke]                                              159
[Coke]                                                   143
[Sprite]                                                  89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        42

Get rid of "$" in item price

could also do:

- df.item_price = df.item_price.str.slice(1).astype(float)

In [55]:
df.item_price = df.item_price.apply(lambda x: x.strip("$"))

In [60]:
df["item_price"] = df["item_price"].astype(float)

In [61]:
print(df.head(3))

print(df.dtypes)

   order_id  quantity                     item_name choice_description  \
0         1         1  Chips and Fresh Tomato Salsa                NaN
1         1         1                          Izze       [Clementine]
2         1         1              Nantucket Nectar            [Apple]

   item_price
0        2.39
1        3.39
2        3.39
order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [64]:
print(df["item_price"].sum())

print("The revenue total is:", "$", df['item_price'].sum())

34500.16
The revenue total is: $ 34500.16

In [68]:
print(df["item_price"].describe())

count    4622.000000
mean        7.464336
std         4.245557
min         1.090000
25%         3.390000
50%         8.750000
75%         9.250000
max        44.250000
Name: item_price, dtype: float64

In [74]:
revenue_per_order = df["item_price"].sum() / df["quantity"].sum()
revenue_per_order = revenue_per_order.round(2)
print(revenue_per_order)
print("Average revenue per order:", "$", revenue_per_order)

6.94
Average revenue per order: $ 6.94

In [85]:
unique_items = df["item_name"]
unique_items.value_counts().nunique()

39