<a href="https://colab.research.google.com/github/Nickguild1993/Py_EDA_walks/blob/main/EDA_OccupationData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EDA work on the Occupation dataset

very basic

In [1]:
# import libraries

import pandas as pd
import numpy as np
import random

import matplotlib.pyplot as plt

In [2]:
# get data set (raw github url)

df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", delimiter="|") # | as the delim (what is that even called?)
df.head(5)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [3]:
# the usual

print(df.info)
print("---------------------")
print("shape of the dataframe is:", df.shape)
print("---------------------")
print(df["occupation"].value_counts())

<bound method DataFrame.info of      user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]>
---------------------
shape of the dataframe is: (943, 5)
---------------------
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [8]:
# change the index to user_id

df = df.set_index("user_id")
df.head(3)

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067

In [12]:
# print name of columns

print(df.columns)
print("-----------------------------")
print(df.index)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')
-----------------------------
Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [16]:
df["occupation"].describe

<bound method NDFrame.describe of user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object>

In [34]:
# getting mean age of users


mean_age = df["age"].round().mean()
round(mean_age)

34

In [40]:
# what is the least occuring age
df["age"].value_counts(ascending=True)

73     1
10     1
66     1
7      1
11     1
      ..
27    35
28    36
22    37
25    38
30    39
Name: age, Length: 61, dtype: int64